{{ site.baseurl }}
<header>
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a>
        <ul class="nav navbar-nav">
            {% for sitepage in site.pages %}
            {% if sitepage.title %}
            <li class="nav-item">
                {% if page.url == sitepage.url %}
                    <a class="nav-link active" href="{{ sitepage.url | prepend: site.baseurl }}">{{ sitepage.title }}</a>
                {% else %}
                    <a class="nav-link" href="{{ sitepage.url | prepend: site.baseurl }}">{{ sitepage.title }}</a>
                {% endif %}
            </li>
            {% endif %}

            {% endfor %}
        </ul>
    </nav>
</header>

